.title {
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
}
.table {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
}
.filter {
  width: 150px;
}
.card {
  margin-top: 40px;
  height: 700px;
  width: 100%;
}
.container {
  width: 100%;
  overflow: hidden;
}

.card-body {
  width: 100%;
  max-height: 700px;
  overflow-x: hidden;
}
.spinner {
  font-size: 30px;
  margin-top: 10px;
}
